.row {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #111111;
    padding: 1%;
    margin: 0;
    min-width: 450px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: #505050;
    color: #111111;
    border-radius: 16px;
    width: 350px;
    text-align: center;
    padding: 48px;
}

.form-label {
    padding-top: 5px;
    font-weight: bold;
}

.form-control {
    color: #111111;
    background-color: #9E9E9E;
    border-color: #9E9E9E;
}

.form-control:focus {
    color: #111111;
    background-color: #9E9E9E;
    border-color: #9E9E9E;
    outline: 0;
    box-shadow: 0 0 0 4px #111111;
}

.btn-dark:hover {
    color: #9E9E9E;
}

.btn-dark:hover {
    color: #fff;
    background-color: #111111;
    border-color: #111111;
}