<div class="row">
    <div class="titulo">
    <b>Educación</b>
    <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
        Nueva Educación
    </button>
    </div>
    <div class="col-1"></div>
    <div class="col-11">
       <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educ">
                    <td class="col-4"><b>{{Educacion.nombreEd}}</b></td>
                    <td class="col-6">{{Educacion.descripcionEd}}</td>
                    <td class="col-1" *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editedu/{{Educacion.id}}">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                    </td>
                    <td class="col-1" *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Educacion.id)">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
       </table>
    </div>
</div>