.row {
    min-width: 500px;
}

div{
    background-color: #111111;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social{
    margin-right: 25px;
}

#logoAP{
    width: 150px;
    filter: contrast(24%);
    padding-left: 25px;
}

#logoAP:hover{
    width: 150px;
    filter: contrast(24%) brightness(50.5%);
    transition: all 0.5s;
}

.btn{
    border-width: medium;
    color: #9E9E9E;
    border-color: #9E9E9E;
    background-color: transparent;
}

.btn:hover{
    border-width: medium;
    color: #505050;
    border-color: #505050;
    background-color: transparent;
    transition: all 0.5s;
}

.bi {
    font-size: 30px;
    vertical-align: -8px;
    color: #9E9E9E;
    margin-right: 20px;
}

.bi:hover {
    font-size: 30px;
    vertical-align: -8px;
    color: #505050;
    margin-right: 20px;
    transition: all 0.5s;
}

/*

@media (max-width: 575px){
    .container{
        flex-direction: column;
    }
    
    .social{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .bi{
        margin: 20px;
    }
}

*/