<div class="row">
    <div class="container">
        <div class="logoAP">
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"><img src="../../../assets/logoAP.png" id="logoAP"></a>
        </div>
        <div class="social">
            <a href="https://www.facebook.com/FedericoHerreraSALTA/"><i class="bi bi-facebook bootstrap-icon"></i></a>
            <a href="https://github.com/ELHACHESALTA/"><i class="bi bi-github bootstrap-icon"></i></a>
            <button type="button" class="btn btn-dark" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-dark" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESIÓN</button>
        </div>
    </div>
 </div>