<div class="row">
    <div class="container">
        <div class="logoAP">
            <img src="../../../assets/logoAP.png" id="logoAP">
              </div>
        <div class="social">
            <a href="/login"><img src="../../../assets/facebook.png" id="facebook"></a>
            <a href=""><img src="../../../assets/github.png" id="github"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESIÓN</button>
        </div>
    </div>
 </div>