<div class="row">
    <div class="col-4 nombre">
        <img src="../../../assets/fotoPerfil.jpg" class="fotoPerfil">
        <b>{{persona.nombre}} {{persona.apellido}}</b>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-8 acercaDe">
        <span>
            <b>Acerca de mí</b>
            <p>Desde muy chico me ha gustado todo lo que respecta a informática. He 
                realizado varios cursos al respecto, pero recién desde 2020 he 
                empezado a aprender programación de forma autodidácta.</p>
        </span>
    </div>
</div>