.row{
    padding: 20px;
    background-color: #00030C;
    color: #FFFFFF;
}

.container{
    width: auto;
}

.texto1, .imagen1{
    display: inline-block;
    text-align: justify;
}

.img-proyecto1{
    box-shadow: 10px 10px 30px #999999;
}