<div class="row">
    <b>Proyectos Realizados</b>
    <div class="container">
        <div class="col-7 texto1">
            <b>(2022) Porfolio Web Full Stack</b>
            <p>Proyecto Integrador del Curso: Argentina Programa - Edición #YoProgramo. Desarrollo de una aplicación web full stack, que muestra mis datos personales, estudios cursados, experiencia laboral, conocimiento de las
                tecnologías y proyectos realizados. Esta aplicación es de arquitectura distribuida y contiene un
                diseño de interfaz de usuario (front end) que muestra la información, una base de datos que almacena los datos antes mencionados y cuenta
                con las APIs necesarias para proveer a través de internet la información (back end).</p>
        </div>
        <div class="offset-1 col-3 imagen1">
            <img src="../../../assets/proyecto1.jpg" class="img-fluid img-proyecto1">
        </div>
    </div>
</div>