<div class="row">
    <b>Habilidades</b>
    <div class="text-center col-4">
        <circle-progress
            [responsive]="true"
            [percent]="80"
            [radius]="75"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="75"
            [imageWidth]="75"
            [showUnits]="false"
            [showTitle]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#9E9E9E'"
            [innerStrokeColor]="'#9E9E9E'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-4">
        <circle-progress
            [responsive]="true"
            [percent]="40"
            [radius]="75"
            [imageSrc]="'../assets/css.png'"
            [showImage]="true"
            [imageHeight]="75"
            [imageWidth]="75"
            [showUnits]="false"
            [showTitle]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#9E9E9E'"
            [innerStrokeColor]="'#9E9E9E'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-4">
        <circle-progress
            [responsive]="true"
            [percent]="30"
            [radius]="75"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="75"
            [imageWidth]="75"
            [showUnits]="false"
            [showTitle]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#9E9E9E'"
            [innerStrokeColor]="'#9E9E9E'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-4">
        <circle-progress
            [responsive]="true"
            [percent]="80"
            [radius]="75"
            [imageSrc]="'../assets/arduino.png'"
            [showImage]="true"
            [imageHeight]="75"
            [imageWidth]="75"
            [showUnits]="false"
            [showTitle]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#9E9E9E'"
            [innerStrokeColor]="'#9E9E9E'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-4">
        <circle-progress
            [responsive]="true"
            [percent]="70"
            [radius]="75"
            [imageSrc]="'../assets/english.png'"
            [showImage]="true"
            [imageHeight]="75"
            [imageWidth]="75"
            [showUnits]="false"
            [showTitle]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#9E9E9E'"
            [innerStrokeColor]="'#9E9E9E'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-4">
        <circle-progress
            [responsive]="true"
            [percent]="80"
            [radius]="75"
            [imageSrc]="'../assets/comunication.png'"
            [showImage]="true"
            [imageHeight]="75"
            [imageWidth]="75"
            [showUnits]="false"
            [showTitle]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#9E9E9E'"
            [innerStrokeColor]="'#9E9E9E'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
</div>
